# Dependencies
node_modules/
/.pnp
.pnp.js

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build
/dist
/frontend/build

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Testing
/coverage

# Misc
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp

# Database
*.sql.gz
*.mysql
*.sql.bz2

# Logs
logs
*.log
